<div class="row">
    <div class="col-md-4">
        <h3>Select files</h3>
        <div appNgDropFiles class="well drop-zone" [ngClass]="{'file-over': dragOver}" (mouseOver)="dragOver = $event" [files]="files">
            <h4>Drop your files here</h4>
            <img src="assets/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Upload Files</h4>
        <button class="btn btn-success mr-2" (click)="uploadImages()" [disabled]="files.length === 0">Upload to
            Firebase</button>
        <button class="btn btn-danger" (click)="clearImages()">Clean</button>

        <table class="table">
            <thead class="thead-dark">
                <th>File Name</th>
                <th>Size</th>
                <th>Progress</th>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">
                    <td>{{file.fileName}}</td>
                    <td>{{file.file.size / 1024 / 1024 | number:'.2-2'}}MB</td>
                    <td class="text-center">
                        <div class="progress" *ngIf="file.progress < 100">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': file.progress + '%'}">{{file.progress | number:'1.0-0' }}%</div>
                        </div>
                        <span class="badge badge-success" *ngIf="file.progress >= 100">Done</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>